/target/
.classpath
.settings
.project
selection_*.txt
/ERRORS_SETUP.txt
/ontologyDownloadReport.txt
/ontologyrepositorystats.csv
/ontology-db/
/ontology-download/
/resources/
*.log
/configuration.properties