<configuration scan="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>joyce.log</file>
		<append>false</append>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.hibernate" level="ERROR" />
	<logger name="org.apache.tapestry5.ioc" level="INFO" />
	<logger name="org.apache.tapestry5" level="INFO" />
	<logger
		name="de.aquadiva.ontologyselection.processes.services.OSProcessesModule.ISetupService"
		level="DEBUG" />
	<logger name="org.apache.http" level="INFO" />
	<logger name="de.julielab.bioportal.ontologies.MappingDownloader" level="WARN" />
	<logger name="de.julielab.neo4j.plugins.ConceptManager" level="ERROR" />
	<logger name="de.julielab.jcore.ae.lingpipegazetteer.chunking.ChunkerProviderImplAlt" level="WARN" />
	<logger name="de.aquadiva.joyce.processes.services.JoyceProcessesModule.IOntologyModuleSelectionService" level="trace" />
	<logger name="java.sql.DatabaseMetaData" level="WARN" />
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
